# Dependencias
/node_modules

# Build
/dist
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local

# Prisma
/prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
